# Disk images / VMs (do not version)
*.qcow2
*.img
*.iso
*.vmdk
*.vdi

# GNS3 backups/caches
*.gns3bak
project/**/images/
project/**/appliances/
project/**/compute/
project/**/captures/

# Generic
*.swp
.DS_Store